html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  /* width: 100% !important; */
  /* height: 100% !important; */
}
